<html> 
<head>
<link type="text/css" rel="stylesheet" href="st.css" />

</head>
<body>
<form  method="POST" action="/profile" >
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

     
      <h1  class="inactive underlineHover"><a href="/signupscript" >Sign Up ?</a></h1>
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="/images/user.jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      
        <input type="text" id="username" class="fadeIn second" name="login" placeholder="User Name" required>
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password" required>
        <input type="submit" class="fadeIn fourth" value="Log In">
     
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        
        <a href="/employee/login" class="pass">Employee LogIn ?</a>
      </div>
      
      
  
    </div>
  </div>
</form>
</body>
</html>