<html> 
<head>
<link type="css/text" rel="stylesheet" href="/estyle1.css" />
</head>
<body>
<form  method="POST" action="/employee/loginSubmit" >
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

     
      <h1  class="inactive underlineHover"><a href="" >Sign Up ?</a></h1>
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="/images/user.jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      
        <input type="text" id="username" class="fadeIn second" name="user" placeholder="User Name" required>
        <input type="text" id="password" class="fadeIn third" name="pass" placeholder="Password" required>
        <input type="submit" class="fadeIn fourth" value="Log In">
     
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a href="/password" class="pass">Forget Passowrd ?</a>
        
      </div>
      
  
    </div>
  </div>
</form>
</body>
</html>