<% include partials/header %>


<div class="jumbotron">
    <div class="container">
        <h1>Employees</h1>
        <a href="/employees/new" class="btn btn-primary btn-lg">Add new Employee</a>
    </div>
</div>

<div class="row text-center" style="display:flex; flex-wrap:wrap">
<% employees.forEach(emp=>{ %>
    <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
            <img src="profile.jpg" style="min-height:200px;height:200px;">
            <h4 class="caption"><%= emp.emp_name %></h4>
            <p><%=emp.emp_id %></p>
            <p><% if (emp.post_id =='sup'){ %> Supervisor <% } %> </p>
            <p><% if (emp.post_id =='maint'){ %> Maintaner <% } %> </p>
            <p><% if (emp.post_id =='dri'){ %> Driver <% } %> </p>
            <p><a href="/employees/<%=emp.emp_id %>" class="btn btn-primary">More Info!</a></p>
        </div>    
    </div>
<% }); %>
</div>


<% include partials/footer %>