<html>
    <head>
        <title>Vehicle Management System</title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        


    </head>
    <body>

        <nav class="navbar navbar-default">

            <div class="container-fluid">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collap" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/"><i class="fas fa-fire"></i></i>HimCamp</a>

                </div>

                <div class="collapse navbar-collapse" id="collap">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/"><i class="fas fa-sign-out-alt"></i>LogOut</a></li>
                    </ul>

                </div>


            </div>

        </nav>


<div class="container">




<h2 style="text-align:center;">Add a new Campground</h2>

<div style="width:25%; margin:25 auto;">


     <!-- Start Form -->

    <form action="/newVehicle" method="POST">

        <div class="form-group">
            <input class="form-control" type="text" name="vehicle_id" placeholder="VehicleId">
        </div>

        <div class="form-group">
            <input class="form-control" type="text" name="vehicle_no" placeholder="Vehicle No">
        </div>

        <div class="form-group">
                <input class="form-control" type="text" name="about" placeholder="description">
        </div>
        <div class="form-group">
        <label class="checkbox-inline"><input name="day[0]" type="hidden" value="0"></label>
        <label class="checkbox-inline"><input name="day[1]" type="hidden" value="0"></label>
        <label class="checkbox-inline"><input name="day[2]" type="hidden" value="0"></label>    
        <label class="checkbox-inline"><input name="day[0]" type="checkbox" value="1">Option 1</label>
        <label class="checkbox-inline"><input name="day[1]" type="checkbox" value="1">Option 2</label>
        <label class="checkbox-inline"><input name="day[2]" type="checkbox" value="1">Option 3</label>
        </div>

        <div class="form-group">
                <label for="sel1">Select list:</label>
                <select class="form-control" id="sel1" name="selector">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
        </div>

        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
        




    </form>

    <!-- End Form -->

    <a href="/campgrounds" class="btn btn-md btn-link">See the camps!</a><br>

</div>

</div>

</body>

</html>
